{% extends "dashboard/base.html" %}
{% block content %}
<br>
<br>
<br>
<table class="table table-striped dataTable no-footer" id="table-1" role="grid" aria-describedby="table-1_info">
    <thead>                                 
      <tr role="row">
        <th class="text-center sorting_asc" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">#</th>
        <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Task Name: activate to sort column ascending">Xodimlar</th>
        <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Task Name: activate to sort column ascending">Kirish vaqti</th>
        <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Task Name: activate to sort column ascending">Chiqish vaqti</th>
        </thead>
    <tbody>                                 
      
        {% for attend in attendance %}
<tr role="row">
    <td>{{ forloop.counter }}</td>
    <td>{{ attend.staff.first_name }} {{ attend.staff.last_name }}</td>
    <td>{{ attend.enter_time|date:"Y-m-d H:i" }}</td>
    <td>{{ attend.exit_time|date:"Y-m-d H:i" }}</td>
</tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}